*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: red;
}

.clear{
    clear: both;
}

body{
}

.container{
    margin: auto;
    width: 925px;
}

.header_bar{
    height: 20px;
    width: 100%;
}
.header_pic{
    height: 310px;
    width: 100%
}

.nav{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 32px;
    width: 100%;
    vertical-align: middle;
    background: url(../images/NANA_nav.png) top left repeat-x;
}

.nav ul{
    list-style: none;
    margin-left: 40px;
}

.nav ul li{
    text-decoration: none;
    margin-right: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    float: left;
}

.nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.nav ul li a:hover{
    text-decoration: underline;
}

.content{
    #background-color: #E5E5E5;
    border: 1px solid #BBBBBB;
    width: 100%;
    height: 1000px;
    margin-bottom: 10px;
}

.footer{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    color: #BBBBBB;
}

.footer_line{
    line-height: 1px;
    color: #BBBBBB;
    width: 95%;
    margin-bottom: 10px;
}

.top{
    width: 880px;
    height: 25px;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    border-bottom: 1px dashed #BBBBBB;
}

.top_title{
    margin-left: 5px;
    color: #8e8e8e;
}

.mid{
    width: 880px;
    margin: auto;
    margin-top: 10px;
}

.left{
    float: left;
    border-right: 1px solid #BBBBBB;
    width: 200px;
    color: red;
}

.right{
    border-left: 1px solid #BBBBBB;
    width: 660px;    
    margin-left: 200px;
    color: red;
}
