<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>日志</title>
    </head>
    <body style="width:960px; margin:auto; margin-top:70px;">
        <table style="width:500px; margin:auto; border:1px solid #BBBBBB">
            <tr><td align="center" style="border-bottom:1px solid #BBBBBB;">
                <h1>写日志</h1>
            </td></tr>
            <tr><td style="padding-left:120px;">
                <form  method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <p>
                        <button type="submit">提交</button>
                    </p>
                </form>                
            </td></tr>
            <tr><td align="center" style="border-top:1px solid #BBBBBB;">
                <a href="{{path('diary')}}">返回</a>
            </td></tr>
        </table>
        
        
    </body>
<html>